*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: black;
    --second-bg-color: #0c0c0c;
    --text-color: white;
    --main-color: #1f2423;
    --pic-color: rgb(127, 5, 197);
    --purple: rgb(127, 5, 197);
    
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--second-bg-color);
    color: var(--text-color);
}

.home{
    background-color: var(--bg-color);
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}

.logo:hover::after{
    text-shadow: 0 0 40px var(--purple);
}

.logo span{
    text-shadow: 0 0 30px var(--purple);
    color: var(--purple);
}









.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
    
}



.navbar a:hover,
.navbar a.active{
    color: var(--purple);
    border-bottom: 3px solid var(--purple);
    
}


#menu-icon{
    font-size: 3.5rem;
    color: var(--purple);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
}

.home-content{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color: var(--purple);
}

.logo span{
    color: var(--purple);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5 rem;
    line-height: 1;
}


.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3 rem;
    width: 500px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--pic-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--purple),
                0 0 50px var(--purple),
                0 0 55px var(--purple);
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}


.abtbtn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--purple);
    box-shadow: 0 0 25px var(--purple);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.abtbtn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--purple);
}




.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease-in-out;
}


.social-icon a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}

.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--purple);
    box-shadow: 0 0 25px var(--purple);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--purple);
    color: white;
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--purple);
    border: 2px solid var(--purple);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    color: white;
}


.text-animation{
    font-size: 30px;
    font-weight: 600;
    min-width: 280px;

}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "";
    color: var(--purple);
    animation: words 20s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}


@keyframes cursor {
    to{
        border-left: 2px solid var(--purple );

    }
}

@keyframes words{
    0%,
    20%{
        content: "Web developer";
    }
    21%,
    40%{
        content: "Frontend Designer";
    }
    41%,
    60%{
        content: "Python Programmer";
    }
    61%,
    80%{
        content: "Ui/UX Designer";
    }
    81%,
    100%{
        content: "Software Developer";
    }
}


@keyframes typing{
    10%,
    15%,
    30%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}



.heading{
    font-size: 5rem;
    text-align: left;
    margin: 4rem 0;
    color: var(--purple);
    
}

.t-skill{
    font-size: 25px;
    
}

.barhtml{
    width: 400px;
    height: 20px;
    color: var(--purple);
}

.barhtml{
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
    width: 700px;
    height: 5px;
    background-color: #eaeaea;
    
    
}

.barhtml span{
    height: 100%;
    background-color: var(--purple);
    position: absolute;
    border-radius: 10px;
    width: 90%;
    transition: 0.3s ease-in-out;
}

.barhtml span:hover{
    content: '90%';
    box-shadow: 0 0 30px var(--purple);
    transform: scale(1) ;
    transition: 0.5s ease-in-outout;
}



.htmllogo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--text-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease-in-out;
}


.htmllogo:hover{
    color: var(--text-color);
    border-color: var(--purple);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}




.barcss{
    width: 400px;
    height: 20px;
    color: var(--purple);
}

.barcss{
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    width: 700px;
    height: 5px;
    background-color: #eaeaea;
    
    
}

.barcss span{
    height: 100%;
    background-color: var(--purple);
    position: absolute;
    border-radius: 5px;
    width: 75%;

}

.jsbar{
    width: 400px;
    height: 20px;
    color: var(--purple);
}

.jsbar{
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    width: 700px;
    height: 5px;
    background-color: #eaeaea;
    
    
}

.jsbar span{
    height: 100%;
    background-color: var(--purple);
    position: absolute;
    border-radius: 5px;
    width: 80%;

}

.reactbar{
    width: 400px;
    height: 20px;
    color: var(--purple);
}

.reactbar{
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    width: 700px;
    height: 5px;
    background-color: #eaeaea;
    
    
}

.reactbar span{
    height: 100%;
    background-color: var(--purple);
    position: absolute;
    border-radius: 5px;
    width: 82%;

}

.pythonbar{
    width: 400px;
    height: 20px;
    color: var(--purple);
}

.pythonbar{
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    width: 700px;
    height: 5px;
    background-color: #eaeaea;
    
    
}

.pythonbar span{
    height: 100%;
    background-color: var(--purple);
    position: absolute;
    border-radius: 5px;
    width: 75%;

}

.project{
    background-color: var(--bg-color);
}

.project .heading{
    font-weight: bold;
}


.githublogo{
    display: flex;

}


.gharbeti a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 10rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 5rem 3rem 0;
    transition: 0.3 ease-in-out;
}

.gharbeti a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}
.wod a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 10rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 5rem 3rem 0;
    transition: 0.3 ease-in-out;
}

.wod a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}


.linktree a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 10rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 5rem 3rem 0;
    transition: 0.3 ease-in-out;
}




.linktree a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}



.recipefinder a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 10rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 5rem 3rem 0;
    transition: 0.3 ease-in-out;
}

.recipefinder a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}


.contact{
    background-color: va(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: white;
}

.input-group2 .btn{
    background-color: black;
    color: var(--purple);
    border: 2px solid var(--purple);
    box-shadow: 0 0 25px transparent;
}

.input-group2 .btn:hover{
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    color: white;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;

}

.contact form .input-box input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 10px;
    border: 2px solid var(--purple);
    margin: 1rem 0;
    resize: none;
}

.input-group2 input{
    margin-top: 20px;
}

footer{
    background-color: var(--bg-color);
    display: flex;
    
    
}

.foot{
    
    
}


.cont{
    font-size: 20px;
    margin-left: 410px;
    margin-top: 20px;

}

.call{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 400px;
    
}

.icon{
    margin-top: ;
    margin-left: 900px;
}


.follow{
    font-size: 20px;
    margin-left: 920px;
    margin-top: -70px;
    

}

footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--purple);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease-in-out;
}


footer a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
}